body,p,h1,h2,h3,h4,h5,h6,ul,ol,dl,dd,dt,input,textarea,select,option,form{
	margin:0;font-family:"Î¢ÈíÑÅºÚ";padding:0;list-style:none
	}

fieldset{
	border:1px solid #C8C8C9;
	margin:0;
	padding:0;
}

img{
	border:0;
}